@font-face {
  font-family: Vazir;
  src: url(../fonts/Vazir-Medium.eot) format("eot"), url(../fonts/Vazir-Medium.woff) format("woff"), url(../fonts/Vazir-Medium.woff2) format("woff2");
  font-style: "normal";
}

* {
  font-family: Vazir;
  margin: 0;
  padding: 0;
  direction: rtl;
  box-sizing: border-box;
}

body {
  font-family: Vazir;
  max-width: 100%;
  overflow-x: hidden !important;
}

ul,
ol,
li {
  list-style: none;
}

a {
  text-decoration: none;
}

.active {
  color: #6E41FE;
  text-decoration: dashed;
}

.tac {
  text-align: center;
}

#nav {
  height: 100px;
  background-color: #6E41FE;
}

#nav ul li a {
  color: #fff;
  line-height: 6;
  padding: 0 20px;
  transition: all .6s;
  font-size: 14px;
}

#nav ul li a:hover {
  color: #cecece;
}

#nav img {
  margin-right: 1000px;
  top: 20px;
  position: absolute;
}

#header {
  padding-top: 150px;
  height: 630px;
  background-color: #FAF9FF;
}

#header .container .row h1 {
  position: relative;
  top: 12px;
}

#header .container .row h6 {
  margin-right: 3px;
}

#header .container .row p {
  color: #797979;
  margin-top: 3rem;
}

#header .container .row .header-btn {
  text-align: center;
  border: 1px solid #6E41FE;
  width: 115px;
  height: 50px;
  font-size: 14px;
  line-height: 3.5;
  position: relative;
  margin-top: 225px;
  left: 560px;
  transition: all 0.5s;
}

#header .container .row .header-btn:hover {
  background-color: #6E41FE;
  cursor: pointer;
}

#header .container .row .header-btn:hover a {
  color: #fff;
}

#header .container .row .header-btn a {
  color: #797979;
}

#header .container .row img {
  width: 370px;
}

#container {
  padding-top: 200px;
}

#container .container h2 {
  font-weight: 300;
  line-height: 1.4;
  margin-bottom: 4rem;
  margin-right: 50px;
}

#container .container .info {
  margin-right: 50px;
  display: flex;
  justify-content: space-around;
}

#container .container .info .info-image-1 {
  margin-top: -215px;
  margin-right: 360px;
  padding-top: 35px;
  position: absolute;
  z-index: 1;
  border-radius: 30% 70% 57% 43% / 66% 63% 37% 34%;
  box-shadow: #26394d 0px 20px 30px -10px;
  text-align: center;
  height: 180px;
  width: 210px;
  border-color: red;
}

#container .container .info .info-image-1 h5 {
  font-size: 14px;
  padding-top: 12px;
}

#container .container .info .info-image-1 span {
  font-size: 14px;
}

#container .container .info .info-image-2 {
  margin-right: 750px;
  padding-top: 35px;
  position: absolute;
  z-index: 1;
  border-radius: 30% 70% 57% 43% / 66% 63% 37% 34%;
  box-shadow: #26394d 0px 20px 30px -10px;
  text-align: center;
  height: 180px;
  width: 210px;
  border-color: red;
}

#container .container .info .info-image-2 h5 {
  font-size: 14px;
  padding-top: 12px;
}

#container .container .info .info-image-2 span {
  font-size: 14px;
}

#container .container .info .info-image-3 {
  margin-left: 40px;
  margin-top: 40px;
  padding-top: 35px;
  position: absolute;
  z-index: 1;
  border-radius: 30% 70% 57% 43% / 66% 63% 37% 34%;
  box-shadow: #26394d 0px 20px 30px -10px;
  text-align: center;
  height: 180px;
  width: 210px;
  border-color: red;
}

#container .container .info .info-image-3 h5 {
  font-size: 14px;
  padding-top: 12px;
}

#container .container .info .info-image-3 span {
  font-size: 14px;
}

#container .container .info-text p {
  margin-top: -48px;
  text-align: justify;
  width: 514px;
  margin-right: 52px;
  color: #a8a5a5;
}

#resume {
  padding-top: 330px;
}

#resume .container h2 {
  font-size: 25px;
  font-weight: 700;
}

#resume .container .resume-nav ul {
  padding-top: 50px;
}

#resume .container .resume-nav ul li {
  display: inline-block;
  padding: 0 15px;
  text-align: center;
  margin-right: 10px;
}

#resume .container .resume-nav ul li a {
  color: #000;
  transition: all .5s;
}

#resume .container .resume-nav ul li a:hover {
  color: #6E41FE;
}

#resume .container .resume-card {
  padding-top: 50px;
}

#resume .container .resume-card img {
  width: 400px;
  padding: 15px 15px;
  transition: all .4s;
}

#resume .container .resume-card img:hover {
  transform: scale(1.1) rotate(-5deg);
}

#services {
  height: 580px;
  background-color: #FAF9FF;
  margin-top: 160px;
}

#services .container h1 {
  padding-top: 70px;
}

#services .container .services-card {
  display: grid;
  grid-gap: 60px;
  grid-template-columns: auto auto;
  margin-top: 50px;
  margin-right: 55px;
}

#services .container .services-card .cards {
  border: 1px solid #ddd;
  border-radius: 25px;
  width: 525px;
  height: 150px;
  text-align: center;
  line-height: 3;
  transition: all .5s;
}

#services .container .services-card .cards:hover {
  border-color: #6E41FE;
  box-shadow: #26394d 0px 20px 30px -10px;
  background-color: #6E41FE;
  color: #fff;
}

#services .container .services-card .cards h4 {
  padding-top: 35px;
}

#skills {
  padding-top: 100px;
}

#skills .container {
  display: flex;
  justify-content: space-between;
}

#skills .container img {
  width: 500px;
}

#skills .container p {
  text-align: justify;
  color: #cecece;
  font-size: 14px;
  padding-top: 20px;
}

#skills .container .title {
  position: relative;
  top: 24px;
}

#skills .container .number {
  position: relative;
  right: 93%;
}

#company {
  margin-top: 100px;
  height: 175px;
  background-color: #6E41FE;
}

#company .container .comp-images {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding-top: 85px;
}

#news {
  padding-top: 140px;
}

#news .container .our-news .news-card {
  display: flex;
  justify-content: space-between;
}

#news .container .our-news .news-card .news-card-1 {
  border-radius: 10px;
  box-shadow: #26394d 0px 20px 30px -10px;
  border: 1px solid #cecece;
  height: 500px;
  width: 350px;
}

#news .container .our-news .news-card .news-card-1 img {
  width: 100%;
  transition: all .6s;
}

#news .container .our-news .news-card .news-card-1 img:hover {
  filter: brightness(50%);
  cursor: pointer;
}

#news .container .our-news .news-card .news-card-1 h4 {
  padding-top: 32px;
  padding-right: 10px;
}

#news .container .our-news .news-card .news-card-1 h6 {
  padding-top: 8px;
  padding-right: 10px;
  color: #797979;
}

#news .container .our-news .news-card .news-card-1 p {
  padding-top: 6px;
  padding-right: 10px;
  font-size: 14px;
  line-height: 2;
  color: #797979;
}

#news .container .our-news .news-card .news-card-2 {
  border-radius: 10px;
  box-shadow: #26394d 0px 20px 30px -10px;
  border: 1px solid #cecece;
  height: 500px;
  width: 350px;
}

#news .container .our-news .news-card .news-card-2 img {
  width: 100%;
  transition: all .6s;
}

#news .container .our-news .news-card .news-card-2 img:hover {
  filter: brightness(50%);
  cursor: pointer;
}

#news .container .our-news .news-card .news-card-2 h4 {
  padding-top: 32px;
  padding-right: 10px;
}

#news .container .our-news .news-card .news-card-2 h6 {
  padding-top: 8px;
  padding-right: 10px;
  color: #797979;
}

#news .container .our-news .news-card .news-card-2 p {
  padding-top: 6px;
  padding-right: 10px;
  font-size: 14px;
  line-height: 2;
  color: #797979;
}

#news .container .our-news .news-card .news-card-3 {
  border-radius: 10px;
  box-shadow: #26394d 0px 20px 30px -10px;
  border: 1px solid #cecece;
  height: 500px;
  width: 350px;
}

#news .container .our-news .news-card .news-card-3 img {
  width: 100%;
  transition: all .6s;
}

#news .container .our-news .news-card .news-card-3 img:hover {
  filter: brightness(50%);
  cursor: pointer;
}

#news .container .our-news .news-card .news-card-3 h4 {
  padding-top: 32px;
  padding-right: 10px;
}

#news .container .our-news .news-card .news-card-3 h6 {
  padding-top: 8px;
  padding-right: 10px;
  color: #797979;
}

#news .container .our-news .news-card .news-card-3 p {
  padding-top: 6px;
  padding-right: 10px;
  font-size: 14px;
  line-height: 2;
  color: #797979;
}

#about {
  margin-top: 250px;
  background-color: #FAF9FF;
}

#about .container .newspaper {
  border: 1px solid #FAF9FF;
  height: 190px;
  position: relative;
  bottom: 100px;
  width: 650px;
  right: 325px;
  box-shadow: #26394d 0px 20px 30px -10px;
  background-color: #fff;
}

#about .container .newspaper h5 {
  padding-top: 57px;
  padding-right: 20px;
}

#about .container .newspaper p {
  position: relative;
  bottom: 20px;
  right: 19px;
  color: #8C8C8C;
}

#about .container .newspaper .left a {
  display: block;
  position: relative;
  right: 525px;
  bottom: 64px;
  transition: all .7s;
}

#about .container .newspaper .left a:hover {
  transform: translateY(-20px);
}

#about .container .about-info {
  display: flex;
  justify-content: space-around;
}

#about .container .about-info input {
  width: 351px;
  height: 45px;
  padding-right: 10px;
  outline: none;
}

#about .container .about-info .about-links li {
  padding-top: 15px;
}

#about .container .about-info .about-links li a {
  color: #000;
  transition: all .8s;
}

#about .container .about-info .about-links li a:hover {
  color: #6E41FE;
  display: block;
  transform: translateX(20px);
}

#footer {
  height: 75px;
  background-color: #6E41FE;
}

#footer .container .footer-text {
  display: flex;
  justify-content: center;
}

#footer .container .footer-text p {
  color: #fff;
  position: relative;
  top: 30px;
}
/*# sourceMappingURL=style.css.map */